# Limitation d'accès -----------------------------------------------------------
AuthUserFile /home/sites/koulchizine.com/public_html/.htpassword 
AuthName "Restricted Access"
AuthType Basic
<limit GET>
require valid-user
</Limit>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress